.BestSeller {
	display: flex;
    flex-direction: row;
}

.BestSeller img{
    height: 75px;
    width: 75px;
}

.BestSeller .RandomBrand{
    padding: 10px;
    border: 1px solid blue;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 70%;
    left: 40%;
}
