.Links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 70vh;
width: 15vw;
}

.Links a{
    text-decoration: none;
    color: blue;
    height: 20px;
    padding: 5px;
    font-size: larger;
    font-weight: 700;
}
